{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To da</title>
    <link rel="stylesheet" href="{% static "styles/index.css" %}" />
    <!-- <link rel="stylesheet" href="{% static "styles/checkbox.css" %}"> -->
</head>
<body>
    <section>
      <div class="create_container">
        <form action="{% url 'add-todo'%}" method="POST">
          {% csrf_token %}
        <input
        class="create_input"
        type="text"
        placeholder="write here new order"
        name="todo_text"
        />
        <button class="create_button">add</button>
        </form>
      </div>

        <div class="todo_container">

           <div class="todo_item">
              <div class="todo_item_header">
                <label class="checkbox_container">
                   <input type="checkbox"/>
                   <span class="check_mark"></span>
                </label>
                <h4>buy a milk</h4>
                </div>
              <div class="todo_item_footer">
                <p>05.12.2022<span>18:11</span></p>
            <div class="auction_buttons">
                <img src="./icon/31.png">
                <img src="./icon/21.png">
              </div>
             </div>
           </div>

           <div class="todo_item_marked">
            <div class="todo_item_header">
                <label class="checkbox_container">
                   <input type="checkbox"/>
                   <span class="check_mark"></span>
                </label>
                <h4>buy a milk</h4>
                </div>
              <div class="todo_item_footer">
                <p>05.12.2022<span>18:11</span></p>
            <div class="auction_buttons">
                <img src="./icon/31.png">
                <img src="./icon/21.png">
              </div>
             </div>
           </div>

           <div class="todo_item_done">
            <div class="todo_item_header">
                <label class="checkbox_container">
                   <input type="checkbox"/>
                   <span class="check_mark"></span>
                </label>
                <h4>buy a milk</h4>
                </div>
              <div class="todo_item_footer">
                <p>05.12.2022<span>18:11</span></p>
            <div class="auction_buttons">
                <img src="./icon/31.png">
                <img src="./icon/21.png">
              </div>
             </div>
           </div>

           <div class="todo_item_marked">
            <div class="todo_item_header">
                <label class="checkbox_container">
                   <input type="checkbox"/>
                   <span class="check_mark"></span>
                </label>
                <h4>buy a milk</h4>
                </div>
              <div class="todo_item_footer">
                <p>05.12.2022<span>18:11</span></p>
            <div class="auction_buttons">
                <img src="./icon/31.png">
                <img src="./icon/21.png">
              </div>
             </div>
           </div>

           <div class="todo_item">
            <div class="todo_item_header">
                <label class="checkbox_container">
                   <input type="checkbox"/>
                   <span class="check_mark"></span>
                </label>
                <h4>buy a milk</h4>
                </div>
              <div class="todo_item_footer">
                <p>05.12.2022<span>18:11</span></p>
            <div class="auction_buttons">
                <img src="./icon/31.png">
                <img src="./icon/21.png">
              </div>
             </div>
           </div>

           <div class="todo_item_done">
            <div class="todo_item_header">
                <label class="checkbox_container">
                   <input type="checkbox"/>
                   <span class="check_mark"></span>
                </label>
                <h4>buy a milk</h4>
                </div>
              <div class="todo_item_footer">
                <p>05.12.2022<span>18:11</span></p>
            <div class="auction_buttons">
                <img src="./icon/31.png">
                <img src="./icon/21.png">
              </div>
             </div>
           </div>

        </div>

    </section>
    
</body>
</html>